$font-stack: 'Poiret One', "Microsoft JhengHei", Helvetica, sans-serif;
$background-color: #eee;
$primary-color: #e73d7b;

* { 
    box-sizing: border-box;
    font: 100% $font-stack;
}

input {
    outline: none; 
    background: none; 
    border: none; 
    &:-webkit-autofill { 
        -webkit-box-shadow: 0 0 0px 1000px white inset; 
        background:none !important; 
    }
}
body { 
    margin: 0; 
    background-color: $background-color;
    color: $primary-color;
    user-select: none;
}

.container {
     max-width: 650px; 
     width: 100%; 
     margin: 20px auto;
}

h1 {
    font: 100% $font-stack;
    letter-spacing: 5px; 
    font-size: 50px; 
    color: $primary-color; 
    text-align: center;
}

.close { 
    cursor: pointer; 
    height: 50px; 
    width: 50px; 
    position: absolute; 
    right: 0; 
    top: 0; 
    background:url(../images/btn-delete.png) no-repeat center center; 
    background-size: 30px;
    
    &:hover { 
        background:url(../images/btn-delete-h.png) no-repeat center center; 
        background-size: 30px;
    }
}

.addThing { 
    background: rgba(255,255,255,0.9);
    &__text{ 
        width: calc(100% - 60px); 
        margin-right: 10px; 
        display:inline-block; 
        padding-left: 10px; 
        font-size: 16px; 
        vertical-align: super;
    }

    &__btn{ 
        width: 50px; 
        line-height: 50px; 
        font-size: 40px; 
        padding: 0; 
        display:inline-block; 
        cursor: pointer; 
        background-color: $primary-color; 
        color: #fff;
    }

}

input[type="checkbox"] { 
    cursor: pointer; 
    appearance: none; 
    outline: 0; 
    margin: 0; 
    height: 35px; 
    width: 35px; 
    border: 2px solid #bbb; 
    border-radius: 50%;

    &:hover { 
        filter: brightness(90%); 
    }

    &:disabled { 
        background: #e6e6e6; 
        opacity: 0.6; 
        pointer-events: none; 
    }

    &:after { 
        content: ''; 
        position: relative; 
        left: 40%; 
        top: 20%; 
        width: 15%; 
        height: 40%; 
        border: solid #bbb; 
        border-width: 0 2px 2px 0; 
        transform: rotate(45deg); 
        display: none; 
    }

    &:checked:after { 
        display: block;
    }

    &:disabled:after { 
        border-color: #7b7b7b; 
    }
}


.list__item { 
    margin: 10px 0; 
    background-color: #ddd; 
    padding:6px 10px; 
    position: relative;

    &__text { 
        margin-left: 10px; 
        display: inline-block; 
        line-height: 35px; 
        vertical-align: top; 
        font-size: 18px;
        color: #000;
    }
}
