@charset "utf-8";
/* CSS Document */
/*html {min-width: 100%; height:100%;}*/
    html, body {
        position: relative;
        height: 100%;
    }
body{ margin:0; padding:0; font-family:"微軟正黑體"; background-image: url(../images/bg01.jpg) ; background-size: cover; background-attachment: fixed;}

.clean{ clear:both;}
*{ box-sizing:border-box; font-family:"微軟正黑體";}
h1{ font-size: 35px; text-align: center; border-bottom: 1px double #333; padding-bottom: 15px; letter-spacing: 10px; width: 400px; margin: 30px auto 55px auto;}
h2{ font-size:30px;}
p{ font-size:13px;}
input{outline: none;}
input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset; background:none !important;
    }

textarea.text{  outline: none;  color:#333; width:100%; height:auto; margin-top:10px; border-radius: 8px;}


input[name="nickname"], input[name="user_id"], input[name="password"]{ background:none; border:none; border-bottom:1px solid #333;}
input[name="reply"] { background:none; width:100%; margin:10px 0; border:1px solid #333;}
input[name="reply_btn"]{ background:none; border:none; float:right; cursor:pointer;}
a{ text-decoration: none;}

.header{    background: #eee; position: fixed; top: 0; width: 100%; z-index: 99; padding: 15px 15px 15px 15px;box-shadow: 0px 2px 16px -6px #878787;
    -webkit-box-shadow: 0px 2px 16px -6px #878787;
    -moz-box-shadow: 0px 2px 16px -6px #878787;
    -o-box-shadow: 0px 2px 16px -6px #878787;}
.header .home{ float: left;}
.header .login{ float: right;}
.header a { color: #666; font-size: 16px;}
.header a:hover{ color: #9f9fa0;}
.header::after{ display:block; clear:both; content:"";}

/*內容*/
.container { width: 100%;height: fit-content;  min-height: 100%;  background: rgba(255,255,255,0.8);}
.content{ max-width:800px; width:100%; margin:0 auto; padding:60px 20px 30px 20px;}
.row{ margin-bottom:50px; background-color: #fff;  padding:20px;}
.row .nickname > input{ margin-left: 10px;}
.btn-wrap{ text-align: right; margin-top: 10px;}
.btn-login{color: white; min-width: 80px; background-color: #81d8d0; border-color: transparent; transition: 0.2s linear; font-size: 16px; padding: 10px 15px; display:inline-block; border-radius: 7px; cursor: pointer;}
.btn-login:hover{ background-color:#8cede4;}
a.btn { margin: 10px 0 4px 0; padding: 6px 16px 5px; color: #00a0e9; font-size: 14px; background-color: #F2F5F7; display: block; transition: all 0.2s;}
a.btn:hover{ color:#20bcf2;}
.reply_wrap{ margin-bottom:50px; background-color: #fff;  padding:20px;}
.reply_wrap > form{margin: 15px 0 20px 60px;}
.under_reply{background: #eeefef;margin: 15px 0 15px 60px;border-radius: 5px;padding: 10px;}
.under_reply.member_reply {background: #f9e4ef;}
.under_reply.member_reply .userInfo dt.id{ background: #e40075;}
.under_reply dl{ margin: 0 0 10px 0;}
.under_reply dt{font-size: 18px;font-weight: bold;display:inline-block;width: calc(100% - 140px);vertical-align: top;}
.under_reply dd{ font-size: 14px; color: #666; display:inline-block; vertical-align: top; width:140px; margin: 0;}
.under_reply::after{ display:block; clear:both; content:""; }
.userInfo{ margin-right: 10px;}
.userInfo .id{     display: inline-block; background-color: #81d8d0; color:#fff; border-radius: 50%; width: 40px; text-align: center; line-height: 40px; font-size: 20px;}
.userInfo .name{ display: inline-block; font-size: 22px; padding-left: 15px;}
.userInfo .date{ font-size: 14px; color: #666; float: right;}
.userInfo .show_content{ margin-left: 60px; border-top:1px solid #eee; padding-top: 10px;}
.login_bar{ margin-left: 60px;}
.userInfo dt.id{width: 30px;line-height: 30px;font-size: 17px; background-color: #bbb;}
.userInfo dd.name{ font-size: 20px; padding-left: 7px;}
.pages{ text-align: center; margin-bottom: 50px;}
.pages a{    width: 35px; line-height: 35px; border: 1px solid #666;  COLOR: #666; display: inline-block; margin: 0 5px; transition: 0.2s linear;}
.pages a:hover{ background-color: #666; color: #fff;}

/*註冊*/
.register_form{width: 500px;margin: 0 auto;padding: 20px; background:rgba(0,0,0,0.6); border-radius:10px;}
.register_form div{margin: 5vh 0;text-align: center;color: #fff;font-size: 22px;letter-spacing: 5px;}
.register_form input{ border-color: #fff; color: #fff; width:50%;}
.register_form .btn{ border: 1px solid #fff; width: auto; background:none; padding: 10px 30px; color: #fff; font-size: 18px; cursor: pointer; transition: all 0.2s;}
.register_form .btn:hover{ background: #fff; color: #333;}


.show_content, .show_content_child{ position: relative;}
.edit_btn, .edit_btn_child{ position: absolute; right: 60px; top: 5px; background: url(../images/icon_edit.png) no-repeat; background-size: 18px; padding-left: 20px;}
.delete_btn{ position: absolute; right: 0; top: 5px; background: url(../images/icon_delete.png) no-repeat; background-size: 18px; padding-left: 20px;}

.show_content input[type='button'], .show_content input[type='submit'], .show_content_child input[type='button'], .show_content_child input[type='submit']{  border: none; cursor: pointer;}
textarea.text_edit{width: calc(100% - 100px);}
.btn-edit{color: white; background-color: #aaa;border-color: transparent;transition: 0.2s linear;font-size: 14px;padding: 5px 8px; cursor: pointer; position: absolute;bottom: 0;right: 0;}

/*
.show_content{ position: relative;}
.show_content input[type='button'], .show_content input[type='submit']{ background: none; border: none; cursor: pointer;}
.edit_btn{ position: absolute; right: 50px; bottom: 5px;}
.edit_function_child{ position: relative;}
.edit_function_child input[type='button'], .edit_function_child input[type='submit']{ background: none; border: none; cursor: pointer;}
.edit_btn_child{ position: absolute; right: 50px; bottom: 5px;}
.delete_btn{ position: absolute; right: 10px; bottom: 5px;}*/

@media only screen and (max-width: 960px) {

}
@media only screen and (max-width: 767px) {

}
